.people{
    margin: 60px 0;
    @include flex-spaceBetween
}
.people-image, .people-text, .people-info{
    width: calc(50% - 30px);
}
.people-info{
    display: flex;
    margin-top: 40px ;
}
.people-image img{
    width: 100%;
}
.people-text{
    padding: 0 5%;
}
.people-text h2, .people-info h2{
    font-size: 35px;
    color: $colorGreen;
    margin-bottom: 20px;
}
.people-text p, .people-info p{
    margin-bottom: 20px;
    font-size: 18px;
    color: $colorGrey;
}
.people-info span{
    font-size: 14px;
    color: $colorGreyLight;
}
.people-info img{
    margin-right: 20px;
}