$colorBlack: #000;
$colorWhite: #fff;
$colorGreen: #0a472e;
$colorGreenLight: #bac34e;
$colorGrey: #555;
$colorGreyLight: #aaa;
$colorBlueLight: #e8f8f7;
$colorCrem: #f6f3e3;
$colorPink: #f3e4dc;

$fontSize: 14px;